bettertffrs/data.json
bettertffrs/db.sqlite3
bettertffrs/whitewater_recentrPRs.json
bettertffrs/la-crosse_recentrPRs.json
bettertffrs/oshkosh_recentrPRs.json
bettertffrs/platteville_recentrPRs.json
bettertffrs/river-falls_recentrPRs.json
bettertffrs/stevens-point_recentrPRs.json
bettertffrs/stout_recentrPRs.json
bettertffrs/whitewater_recentrPRs.json
venv/
