{% extends "base.html" %}
{% block content %}
<div class="text-center">
	<h2 class="col-12 display-4 custom-header p-2 rounded-top">{{data.prsAndEventSlugs.0.pr.athlete}}</h2>
	<div class="row justify-content-center">
		<form action="{{data.prsAndEventSlugs.0.pr.athlete.athlete_link}}" method="GET">
			<button type="submit" class="btn btn-link custom-btn" style="text-decoration: none;">
				Go to TFRRS page
			</button>
		</form>
		{%for each in data.prsAndEventSlugs%}
		<div class="col-5 col-md-3 col-lg-2 m-1 p-1 d-flex flex-column">			
			<a class = "mb-1 flex-grow-1 btn w-100 custom-btn" href="{% url 'event' college_slug=data.college_slug event_slug=each.event_slug id=each.pr.event.event_id %}">{{ each.pr.event }}</a>
			<a class = "w-100 btn w-100 custom-btn" href="{{each.pr.pr_link}}">{{each.pr.pr}}</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}