{% extends "base.html" %}
{% block content %}
<div class="text-center">
	<h2 class="col-12 display-4 custom-header p-2 rounded-top">Athletes</h2>
	<div class="row justify-content-center">
		{%for each in data.athletes%}
		<div class="col-5 col-md-3 col-lg-2 p-1 m-1 d-flex flex-column">
			<form class="flex-grow-1" action="{% url 'athlete' college_slug=data.slug athlete_id=each.athlete_id %}" method="GET">
				<button type="submit" class="btn btn-link w-100 h-100 custom-btn" style="text-decoration: none;">
					{{ each }}
				</button>
			</form>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}