{% extends "base.html" %}
{% block content %}
<div class="text-center">
	<h2 class="col-12 display-4 custom-header p-2 rounded-top">{{data.prsAndEventSlugs.0.pr.athlete}}</h2>
	<div class="row justify-content-center">
		<form action="{{data.prsAndEventSlugs.0.pr.athlete.athlete_link}}" method="GET">
			<button type="submit" class="btn btn-link custom-btn" style="text-decoration: none;">
				Go to TFRRS page
			</button>
		</form>
		{%for each in data.prsAndEventSlugs%}
		<div class="col-5 col-md-3 col-lg-2 m-1 p-1 d-flex flex-column">
			<form class = "mb-1" action="{% url 'event' college_slug=data.college_slug event_slug=each.event_slug id=each.pr.event.event_id %}" method="GET">
				<button type="submit" class="btn btn-link w-100 h-100 custom-btn" style="text-decoration: none;">
					{{ each.pr.event }}
				</button>
			</form>
			<form class="w-100" action="{{each.pr.pr_link}}" method="GET">
				<button type="submit" class="btn btn-link w-100 h-100 custom-btn" style="text-decoration: none;">
					{{each.pr.pr}}
				</button>
			</form>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}