{% extends "base.html" %}
{% block content %}
<div class="text-center">
	<h2 class="col-12 display-4 custom-header p-2 rounded-top">Events</h2>
		<div class="row justify-content-center">
			{%for each in data.events%}
			<div class="col-4 col-md-2 p-1 m-1">
				<form action="{% url 'event' college_slug=data.college_slug event_slug=each.event_slug id=each.event_id %}" method="GET">
					<button type="submit" class="btn btn-link w-100 h-100 custom-btn" style="text-decoration: none;">
						{{ each.name }}
					</button>
				</form>
			</div>
			{% endfor %}
		</div>
</div>
{% endblock %}