{% extends "base.html" %}
{% block content %}
<div class = "container my-3 w-50 pb-3" id = "events">
	<div class="container w-75">
	<h2>Events</h2>
    <div class="container">
                <!-- method 1 - sizing classes -->
                <div class="list-group d-flex flex-row flex-wrap">
                    {%for each in data%}
						<a href="/prs/events/{{each.event_id}}" class="list-group-item w-50 list-group-item-action rounded-0">
						{{each}}
						</a>
                    {% endfor %}
            </div>
        </div>
	</div>
</div>
</div>
{% endblock %}