{% extends "base.html" %}
{% block content %}
	<div class = "d-flex justify-content-center">
		<h1 class="p-2 mt-3 mb-0 content w-fit rounded">{{data.0.event}}</h1>
	</div>	
	<div class="container p-2 m-3 content rounded">
    <div class="container">
                <div class="list-group d-flex flex-row flex-wrap">
					<ul class = "list-unstyled d-flex justify-content-center align-content-start flex-wrap">					
                    {%for each in data%}
						<li class="rounded shadow" id = "listItem"><a href="/athlete/{{each.athlete.athlete_id}}" class="nav-link fs-4">
							{{each.athlete}} <br> {{each.pr}}</a></li>
                    {% endfor %}
					</ul>
            </div>
        </div>
	</div>
{% endblock %}