<div class="container"><h3 class="py-3 mb-0">
    {%for each in data%}
        <h2>{{each.meetname}}</h2>
        <h3>{{each.meetdate}}</h3>
        <h5>{{each.numberofprs}} total prs <br> {{each.uniqueprs}} people pr'd</h5>
        <h4>PRs</h4>
        <div class="container">
            <div class="row">
                {% for eachRowOfX in each.prsatmeet %}
                        {%for eachXPR in eachRowOfX%}
                            <div class="col">
                                <ul>
                                {%for eachPR in eachXPR %}
                                    <li>{{eachPR.athletename}} set a pr of {{eachPR.pr}} in {{eachPR.eventname}}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                            <div class="w-100"></div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>