body {
	background-color: rgb(239, 239, 239);
	background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
	background-image: url("/static/images/track_lanes.png");
}
.custom-btn{
	background-color: #ffffff;
	font-size: 1.5rem;
}
.custom-btn:hover {
	background-color: #d2d2d2c4;
    opacity: 1; /* Set the desired opacity value */
  }
.custom-header{
	background-color:  rgb(255, 255, 255);
}
.content{
background-color: #ffffffaf;
}