.column {
  flex: 1;
}

body{
	background-color: #492F92;"
}
nav{
	background-color: #FFC425;
	letter-spacing: .1rem;
}
.w-fit{
	width:fit-content;
}
.content{
	background-color: rgba(255, 255, 255, 0.3);
}
#listItem{
	text-align:center;
	background-color: #FFC425;
	border-color: #d89d00;
	padding:.5rem;
	margin:1rem;
}
.myls{
	letter-spacing: .1rem;
}
footer{
	background-color: #FFC425;
	letter-spacing: 2px;
}
footer a{
	color: #4f4f4f;
}

@media (max-width: 600px){
	#listItem{
	padding:0.25rem;
	margin:0.5rem;
	}
}